<agm-map [latitude]="latitude" [longitude]="longitude">

    <agm-marker [latitude]="47.36399841308594" [longitude]="8.519209861755371">
        <agm-info-window> OfficeLab <br> Size: 213 <br> Usage: 34% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="47.38674545288086" [longitude]="8.496363">
        <agm-info-window> Prime Tower <br> Size: 380 <br> Usage: 61% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="35.666927" [longitude]="139.749589">
        <agm-info-window> Prime Tower <br> Size: 380 <br> Usage: 61% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="19.0251231" [longitude]="72.8413966">
        <agm-info-window> Kohinoor Square<br> Size: 1380 <br> Usage: 42% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="-23.545528" [longitude]="-46.6435652">
        <agm-info-window> Edifício Itália <br> Size: 700 <br> Usage: 94% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="51.50437145" [longitude]="-0.0864822031103623">
        <agm-info-window> Shard London Bridge <br> Size: 400 <br> Usage: 53% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="51.5049489" [longitude]="-0.0195006">
        <agm-info-window> One Canada Square <br> Size: 1607 <br> Usage: 45% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="51.51625345" [longitude]="-0.0808202018163526">
        <agm-info-window> 110 Bishopsgate <br> Size: 2013 <br> Usage: 43% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="51.5138043" [longitude]="-0.0822943">
        <agm-info-window> Leadenhall <br> Size: 360 <br> Usage: 60% </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="17.4741248" [longitude]="78.3940135">
        <agm-info-window> Lodha Bellezza <br> Size: 1360 <br> Usage: 29% </agm-info-window>
    </agm-marker>

</agm-map>