<agm-map [latitude]="latitude" [longitude]="longitude">

    <agm-marker [latitude]="47.36399841308594" [longitude]="8.519209861755371"></agm-marker>
    <agm-marker [latitude]="47.38674545288086" [longitude]="8.496363"></agm-marker>
    <agm-marker [latitude]="35.666927" [longitude]="139.749589"></agm-marker>
    <agm-marker [latitude]="19.0251231" [longitude]="72.8413966"></agm-marker>
    <agm-marker [latitude]="-23.545528" [longitude]="-46.6435652"></agm-marker>
    <agm-marker [latitude]="51.50437145" [longitude]="-0.0864822031103623"></agm-marker>
    <agm-marker [latitude]="51.5049489" [longitude]="-0.0195006"></agm-marker>
    <agm-marker [latitude]="51.51625345" [longitude]="-0.0808202018163526"></agm-marker>
    <agm-marker [latitude]="51.5138043" [longitude]="-0.0822943"></agm-marker>
    <agm-marker [latitude]="17.4741248" [longitude]="78.3940135"></agm-marker>

</agm-map>